<input type="checkbox" [id]="checkboxId" [ngModel]="todo.completed" (ngModelChange)="setCompleted($event)">
<div *ngIf="editing; then editTemplate; else viewTemplate"></div>

<ng-template #viewTemplate>
  <label *ngIf="!editing" [for]="checkboxId">{{todo.text}}</label>
  <button (click)="startEdit()">Edit</button>
</ng-template>

<ng-template #editTemplate>
  <input [(ngModel)]="newText" (keyup.enter)="finishEdit()" (keyup.escape)="cancelEdit()">
  <button (click)="finishEdit()">Save</button>
  <button (click)="cancelEdit()">Cancel</button>
</ng-template>

