<input #todoInput type="text" placeholder="What needs to be done?" (keyup.enter)="addInputTodo()">
<button (click)="addInputTodo()">Add</button>

<div>
  <span>Show</span>
  <input id="allRadio" type="radio" [checked]="completedFilter == null" (change)="showAll()">
  <label for="allRadio">All</label>

  <input id="activeRadio" type="radio" [checked]="completedFilter === false" (change)="showActive()">
  <label for="activeRadio">Active</label>

  <input id="completeRadio" type="radio" [checked]="completedFilter === true" (change)="showComplete()">
  <label for="completeRadio">Complete</label>
</div>

<button [disabled]="!completeAllEnabled" (click)="completeAll()">Mark All as Complete</button>

<div>
  <div *ngFor="let todo of filteredTodos">
    <app-todo [todo]="todo"></app-todo>
    <button (click)="removeTodo(todo)">Delete</button>
  </div>
</div>

<button *ngIf="clearCompleteEnabled" (click)="clearComplete()">Clear Complete</button>
